body{
    height: 100vh;
}
main{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Grid{
    width: 400px;
    height: 400px;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1px;
    
}

.item{
    background-color: blueviolet;
    /* border: solid 1px black; */
}

.item:hover{
    background-color: rgb(177, 120, 231);
}