main{
    width: 100%;
    height: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    padding: 0;
    --dimension: 3;
}
.content{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, auto) 1fr minmax(200px, auto);
}